@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");
a:link {
  color: inherit; /* no blue default link color */
  text-decoration: none;
}

a:visited {
  color: inherit; /* no purple visited links */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6em;
}

body {
  font-family: "hanken grotesk", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 0;
  font-weight: 700;
}

header {
  background-color: hsl(241, 81%, 54%);
  border-radius: 20px;
  padding: 20px 40px;
  text-align: center;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  margin-right: 0;
  max-height: 60%;
}

.results-circle {
  background-color: hsl(256, 72%, 46%);
  border-radius: 50%;
  padding: 8px;
  margin: 0 10px;
}

.title, .of-100, .you-scored {
  color: hsl(241, 100%, 89%);
  font-size: 1em;
}

.of-100 {
  margin: 0;
}

.title {
  margin-bottom: 30px;
}

.total-result {
  color: hsl(0, 0%, 100%);
  font-size: 3em;
  margin: 0;
}

.great {
  color: hsl(0, 0%, 100%);
  font-size: 1.5em;
  margin-bottom: 0;
}

.great, .title, .of-100, .you-scored {
  font-weight: 500;
}

.you-scored {
  font-size: 0.9em;
  line-height: 150%;
  margin: 0 15px;
  padding: 10px;
}

main {
  width: 100%;
}

.summary {
  font-size: 1.1em;
  color: hsl(224, 30%, 27%);
  margin: 30px 20px;
}

ul {
  padding: 0 20px;
}

ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

li {
  border-radius: 12px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-position: 5%;
}

p {
  font-size: 0.9em;
  margin: 20px;
  padding-left: 25px;
}

p.reaction {
  color: hsl(0, 100%, 67%);
}

p.memory {
  color: hsl(39, 100%, 56%);
}

p.verbal {
  color: hsl(166, 100%, 37%);
}

p.visual {
  color: hsl(234, 85%, 45%);
}

p.result {
  color: hsl(224, 30%, 27%);
}

li.reaction {
  background-color: hsla(0, 100%, 67%, 0.1);
  background-image: url(../assets/images/icon-reaction.svg);
  background-position: 5%;
}

li.memory {
  background-color: hsla(39, 100%, 56%, 0.1);
  background-image: url(../assets/images/icon-memory.svg);
}

li.verbal {
  background-color: hsla(166, 100%, 37%, 0.1);
  background-image: url(../assets/images/icon-verbal.svg);
}

li.visual {
  background-color: hsla(234, 85%, 45%, 0.1);
  background-image: url(../assets/images/icon-visual.svg);
}

span {
  opacity: 50%;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.continue {
  flex: 1 0;
  margin: 10px;
  padding: 15px;
  background-color: hsl(224, 30%, 27%);
  color: hsl(0, 0%, 100%);
  font-family: inherit;
  font-size: 1.8em;
  border-radius: 50px;
}

.attribution {
  flex: 1 0 100%;
  color: hsl(234, 85%, 45%);
  font-size: 1em;
  text-align: center;
  opacity: 80%;
}/*# sourceMappingURL=input.css.map */