
@use 'reset'; 
@use 'footer'; 
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

body { 
    font-family: 'hanken grotesk', sans-serif; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; 
    margin-top: 0; 
    font-weight: 700; 
}

header { 
    background-color: hsl(241, 81%, 54%); // this is a gradient with hsl(252, 100%, 67%)
    border-radius: 20px;
    padding: 20px 40px; 
    text-align: center;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    margin-right: 0; // won't remove? 
    // width: 100%; 
}

.results-circle { 
    background-color: hsla(256, 72%, 46%, 1); // gradient with hsla(241, 72%, 46%, 0)
    border-radius: 50%;
    // make the circle tighter - ref other code you've written 
    padding: 8px; 
    margin: 0 10px; 
}

.title, .of-100, .you-scored { 
    color: hsl(241, 100%, 89%); 
    font-size: 1em;    
}

.of-100 { 
    margin: 0; 
}

.title { 
    margin-bottom: 30px; 

}

.total-result { 
    color: hsl(0, 0%, 100%); 
    font-size: 3em; 
    margin: 0; 
}

.great { 
    color: hsl(0, 0%, 100%); 
    font-size: 1.5em; 
    margin-bottom: 0; 
}

.great, .title, .of-100, .you-scored { 
    font-weight: 500; 
}

.you-scored { 
    font-size: 0.9em;
    line-height: 150%;
    margin: 0 15px; 
    padding: 10px; 
}

