
@use 'reset'; 
@use 'footer'; 
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

body { 
    font-family: 'hanken grotesk', sans-serif; 
    display: flex; 
    flex-direction: column;
    min-width: 100svw; 
    font-weight: 700; 
    align-items: center;
    justify-content: center;
    margin: 0; 
}

header { 
    background: linear-gradient(
    to bottom, 
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%) 85%
);
    border-radius: 20px;
    padding: 20px 40px; 
    text-align: center;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    width: 100%; 
    display: flex; // to keep elements inside centred despite viewport size 
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.results-circle { 
    background: linear-gradient(
        to bottom, 
        hsl(256, 72%, 46%, 1) 30%, 
        hsla(241, 72%, 46%, 0) 
    );
    border-radius: 50%;
    min-width: 145px;
    max-width: 145px; 
    margin: 0 75px; 
    padding: 20px 15px; 
    // flex: 0 0 auto; // don't change size. I don't think I need this anymore. 
}

.title, .of-100, .you-scored { 
    color: hsl(241, 100%, 89%); 
    font-size: 1em;    
}

.of-100 { 
    margin: 0; 
}

.title { 
    margin-bottom: 30px; 

}

.total-result { 
    color: hsl(0, 0%, 100%); 
    font-size: 3em; 
    margin: 0; 
}

.great { 
    color: hsl(0, 0%, 100%); 
    font-size: 1.5em; 
    margin-bottom: 0; 
    margin-top: 20px; 
}

.great, .title, .of-100, .you-scored { 
    font-weight: 500; 
}

.you-scored { 
    font-size: 0.9em;
    line-height: 150%;
    margin: 0 15px; 
    padding: 10px; 
    max-width: 250px; // lock this width down 
}

main { 
    width: 100%; 
}

.summary { 
    font-size: 1.1em; 
    color: hsl(224, 30%, 27%); 
    margin: 30px 20px; 
}

ul { 
    padding: 0 20px; 
}

ul li { 
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    background-repeat: no-repeat;
    border-radius: 12px;
    margin-bottom: 20px; 
    padding-left: 10px; 
    background-position: 5%;
}

li.reaction { 
    background-color: hsl(0, 100%, 67%, 10%); 
}

.icon-text-group { 
    background-repeat: no-repeat;
    background-position: 5%;
    display: flex; 
    align-items: center;
}

li.reaction .icon-text-group { 
    background-image: url(../assets/images/icon-reaction.svg);
}

li.memory { 
    background-color: hsl(39, 100%, 56%, 10%);
}

li.memory .icon-text-group { 
    background-image: url(../assets/images/icon-memory.svg);
}

li.verbal { 
    background-color: hsl(166, 100%, 37%, 10%);
}

li.verbal .icon-text-group { 
    background-image: url(../assets/images/icon-verbal.svg);
}

li.visual { 
    background-color: hsl(234, 85%, 45%, 10%);
}

li.visual .icon-text-group { 
    background-image: url(../assets/images/icon-visual.svg);
}

p { 
    font-size: 0.9em; 
    margin: 20px; 
    padding-left: 10px; 
}

p.reaction { 
    color: hsl(0, 100%, 67%); 
}

p.memory { 
    color: hsl(39, 100%, 56%); 
}

p.verbal { 
    color: hsl(166, 100%, 37%);
}

p.visual { 
    color: hsl(234, 85%, 45%); 
}

p.result { 
    color: hsl(224, 30%, 27%); 
}

span { 
    opacity: 50%;
    margin-left: 5px; 
}

footer { 
    width: 100%; 
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.continue { 
    flex: 1 0; 
    margin: 10px; 
    padding: 15px; 
    background-color:  hsl(224, 30%, 27%);
    color:hsl(0, 0%, 100%); 
    font-family: inherit;
    font-size: 1.8em; 
    border-radius: 50px; 
}

.attribution { 
    flex: 1 0 100%; 
    color:hsl(234, 85%, 45%);
    font-size: 1em; 
    text-align: center; 
    opacity: 80%;
}

// active states 

@media screen and (min-width: 498px) { 
    p.reaction, p.memory, p.verbal, p.visual { 
        
    }
}
